{% extends 'base.html.twig' %}

{% block title %}A Community for Thinkers{% endblock %}

{% block body %}

	<div id="masonry">
		{% for post in posts %}
			{% include 'main/card.html.twig' %}
		{% endfor %}
	</div>

{% endblock %}

{% block js %}{% endblock %}