{% extends 'base.html.twig' %}

{% block title %}{{ 'A Community for Thinkers'|trans }}{% endblock %}

{% block body %}

	{% if posts is not empty %}

		<div id="masonry">
			{% for post in posts %}
				{% include 'main/card.html.twig' %}
			{% endfor %}
		</div>

	{% else %}

		<div class="wrapper">
			<div class="box empty">
				{% if category is empty and supercategory is empty %}
					<p>No posts were found. Literally none!</p>
				{% else %}
					<p>No posts were found in the
						<b>{{ (category is empty ? supercategory : category)|humanize|trans }}</b>
						category.</p>
				{% endif %}
				<p><a href="{{ path('new_post') }}">Why not write the first?</a></p>
			</div>
		</div>

	{% endif %}

{% endblock %}

{% block js %}{% endblock %}